@model List<Baker_DesignPatterns.CQRSPattern.Results.TeamResults.GetTeamQueryResult>

<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// Bizim Ekip</p>
            <h1 class="display-6 mb-4">Yetenekli Süper Personellerimiz</h1>
        </div>
        <div class="row g-4">
            @foreach(var item in Model)
            {
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <img class="img-fluid" src="@item.ImageUrl" alt="">
                    <div class="team-text">
                        <div class="team-title">
                            <h5>@item.NameSurname</h5>
                            <span>@item.Title</span>
                        </div>
                        <div class="team-social">
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>