@model GetTestimonialByIdQueryResult
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Referans Güncelleme Sayfası</h3>
            <hr style="color:purple;" />
            <table class="table table-striped">
                <form method="post">
                    <input type="hidden" asp-for="TestimonialID"/>
                    <label>Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />
                    <label>İsim Soyisim</label>
                    <input type="text" class="form-control" asp-for="NameSurname" />
                    <br />
                    <label>Görsel</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <label>Yorum</label>
                    <input type="text" class="form-control" asp-for="Comment" />
                    <br />
                    <label>Durum</label>
                    <input id="Status" asp-for="Status" type="checkbox" />
                    <br /><br />
                    <button class="btn btn-outline-primary"><i class="fas fa-save"></i>Ekle</button>
                </form>
            </table>
        </div>

    </div>
</div>


