
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/baker-1.0.0/img/carousel-1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// En İyi Fırın</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Tutkuyla Pişiriyoruz</h1>
                            <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/baker-1.0.0/img/carousel-2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// En İyi Fırın</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Tutkuyla Pişiriyoruz</h1>
                            <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>