@model Baker_DesignPatterns.CQRSPattern.Results.ContactResults.GetContactByIdQueryResult
@{
    ViewData["Title"] = "DetailContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row"></div>
<div class="col-md-12 stretch-card grid-margin">
    <div class="card bg-gradient-primary card-img-holder text-white">
        <div class="card-body">
            <img src="~/PurpleAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
            <h4 class="font-weight-normal mb-3">
                <i class="mdi mdi-diamond mdi-24px float-right"></i>Gelen Mesaj Detayı
            </h4>
            <table class="table table-striped">
                <tr>
                    <th>Ad Soyad :</th>
                    <td>@Model.NameSurname</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Konu :</th>
                    <td>@Model.Subject</td>
                </tr>
                <tr>
                    <th>Mesaj :</th>
                    <td>@Model.Content</td>
                </tr>
            </table>

        </div>
    </div>
</div>

</div>