@model List<Baker_DesignPatterns.CQRSPattern.Results.ProductResults.GetProductQueryResult>

<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
    <p class="text-primary text-uppercase mb-2">// Unlu Mamüller</p>
    <h1 class="display-6 mb-4">Unlu Mamül Ürünlerimizin Kategorilerini Keşfedin</h1>
</div>
<div class="row g-4">

    @foreach(var item in Model)
    {
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
            <div class="text-center p-4">
                <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">@item.Price ₺</div>
                <h3 class="mb-3">@item.Title</h3>
                <span>@item.Description</span>
            </div>
            <div class="position-relative mt-auto">
                <img class="img-fluid" src="@item.ImageUrl" alt="">
                <div class="product-overlay">
                    <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
    }
</div>