@model List<Baker_DesignPatterns.MediatorPattern.Results.StatisticalValuesResults.GetAllStatisticalValuesQueryResult>
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-4">
            @foreach(var item in Model)
            {

            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="@item.Icon"></i>
                    <p class="mb-2">@item.Title</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">@item.Value</h1>
                </div>
            </div>
            
            }
            
        </div>
    </div>
</div>