@model Baker_DesignPatterns.CQRSPattern.Commands.CreateProductCommand
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Ürün Ekleme Sayfası</h3>
            <hr style="color:purple;" />
            <table class="table table-striped">               
                <form method="post">
                    <label>Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <br />
                    <label>Açıklama</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <br />
                    <label>Görsel</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <label>Fiyat</label>
                    <input type="text" class="form-control" asp-for="Price" />
                    <br />
                    <button class="btn btn-outline-primary"><i class="fas fa-save"></i>Ekle</button>
                </form>
            </table>
        </div>

    </div>
</div>
