@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body>
    @await Component.InvokeAsync("_DefaultMainComponentPartial")
    <!-- Carousel End -->
    <!-- Facts End -->
    @await Component.InvokeAsync("_StatisticalComponentPartial")
    <!-- About Start -->
    @await Component.InvokeAsync("_AboutUsComponentPartial")
    <!-- About End -->
    <!-- Product Start -->
    <div class="container-xxl bg-light my-6 py-6 pt-0">
        <div class="container">
            <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="display-4 text-light mb-0">Şehrinizin En İyi Fırını</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="d-inline-flex align-items-center text-start">
                            <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                            <div class="ms-4">
                                <p class="fs-5 fw-bold mb-0">Bizi Arayın</p>
                                <p class="fs-1 fw-bold mb-0">+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_ProductListComponentPartial")
        </div>
    </div>
    <!-- Product End -->
    <!-- Service Start -->
    @await Component.InvokeAsync("_ServiceListComponentPartial")
    <!-- Service End -->
    <!-- Team Start -->
    @await Component.InvokeAsync("_TeamComponentPartial")
    <!-- Team End -->
    <!-- Testimonial Start -->
    <div class="container-xxl bg-light my-6 py-6 pb-0">
        <div class="container">
            
            @await Component.InvokeAsync("_TestimonialComponentPartial")

            @await Html.PartialAsync("Subscribe")
        </div>
    </div>
</body>
</html>