
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="bg-primary text-light rounded-top p-5 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4 text-light mb-0">Abone Olun</h1>
        </div>
        <div class="col-md-6 text-md-end">
            <form method="post" asp-action="Subscribe" asp-controller="Default">
                <div class="position-relative">
                    <input class="form-control bg-transparent border-light w-100 py-3 ps-4 pe-5" type="text" name="Mail" placeholder="Mail Adresiniz">
                    <button type="submit" onclick="subscribe()" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Kaydol</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function subscribe() {
        Swal.fire({
            title: 'E-Bülten için mail adresiniz sisteme kaydedildi.',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Default/Index";
            }
        });
    }
</script>